<div class="nav toggle">
  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
</div>

<ul class="nav navbar-nav navbar-right">
  <li class="">
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <img src="images/img.jpg" alt="">John Doe
      <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
      <li><a href="javascript:;"> Profile</a></li>
      <li>
        <a href="javascript:;">
          <span class="badge bg-red pull-right">50%</span>
          <span>Settings</span>
        </a>
      </li>
      <li><a href="javascript:;">Help</a></li>
      <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
    </ul>
  </li>

  <li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-envelope-o"></i>
      <span class="badge bg-green">6</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
      <li>
        <a>
          <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
          <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
          </span>
          <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
          </span>
        </a>
      </li>
      <li>
        <a>
          <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
          <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
          </span>
          <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
          </span>
        </a>
      </li>
      <li>
        <a>
          <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
          <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
          </span>
          <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
          </span>
        </a>
      </li>
      <li>
        <a>
          <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
          <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
          </span>
          <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
          </span>
        </a>
      </li>
      <li>
        <div class="text-center">
          <a>
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </li>
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
      Broad Bean Resorts & Spa ( Munnar ) ( Bathtub Villa ) <span class=" fa fa-angle-down"></span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled hotel_list" role="menu">
      <div class="hotel-box-flex">
        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Broad Bean Resorts & Spa  (  Munnar  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Bathtub Villa</a></li>
                  <li><a href="#">Deluxe cottage</a></li>
                  <li><a href="#">Executive Room</a></li>
                  <li><a href="#">Honeymoon Suite</a></li>
                  <li><a href="#">Jacuzzi Villa</a></li>
                  <li><a href="#">Premium Suite</a></li>
                  <li><a href="#">Private Pool Villa</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Casino Houseboat  (  Alleppey  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Deluxe Double</a></li>
                  <li><a href="#">Deluxe One Bedroom</a></li>
                  <li><a href="#">Deluxe Three Bedroom</a></li>
                  <li><a href="#">Deluxe Two Bedroom</a></li>
                  <li><a href="#">Premium Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Crescent Crest  (  Sriperumbudur  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Deluxe Room</a></li>
                  <li><a href="#">Standard Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Crescent Inn Navallur  (  Chennai ) </h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Deluxe Double Room</a></li>
                  <li><a href="#">Deluxe Suite Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Devonshire Greens Leisure Hotel  (  Munnar  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Suite Room</a></li>
                  <li><a href="#">Sunrise View Premium Room</a></li>
                  <li><a href="#">Valley View Premium Room</a></li>
                  <li><a href="#">Valley View Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>First Inn Hotel  (  Perungudi  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Deluxe Room</a></li>
                  <li><a href="#">Executive Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="hotel-items">
          <div class="x_panel tile">
            <div class="x_title">
              <h6>Hotel Blackforest  (  Munnar  )</h6>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <ul class="hotel-list">
                  <li><a href="#">Deluxe Forest View</a></li>
                  <li><a href="#">Executive Valley View</a></li>
                  <li><a href="#">Standard Room</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </li>
</ul>
