<div class="col-md-4 col-xs-8 col-md-offset-3">
  <div class="x_panel">
    <div class="x_title">
      <h2>Edit Rates <small>Enter Amounts in Rupees(₹)</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />
      <form class="form-horizontal form-label-left">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">High3</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="500" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">High2</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="300" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">High1</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="200" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Low1</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="351" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Low2</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="751" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Low3</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="1400" type="number">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
