<div class="col-md-8 col-xs-12 col-md-offset-2">
  <div class="x_panel">
    <div class="x_title">
      <h2>Room Settings</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />
      <form class="form-horizontal form-label-left">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Room Count</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="10" type="number" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Extra Adult Rate(on Ep)</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="1000" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Extra Child Rate(on Ep)</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="800" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Minimum Rate</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="1898" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Maximum Rate</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="4900" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Single To Double Occupancy Difference</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="1" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Cp Rate Per Pax(from Ep)</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="350" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Map Rate Per Pax(from Ep)</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" value="750" type="number">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
